body {
    font-family: "Roboto", serif;
    font-style: normal;
}
    
.link{
    text-decoration: none;
    list-style: none;
} 


.address{
    font-style: normal;
    list-style: none;
}

.location{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}






.black, .nomber-mail 
{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.mail-location{
    position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
}





.nomber-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.143px;
letter-spacing: 0.02em;
color: #757575;
}
.nomber-location{
    position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
}






.about {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.pod-button {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #757575;
}
    





.logo{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192px;
    letter-spacing: 0.03em;
    color: #2196F3;
    
}

.button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;  
     font-family: Roboto;
}

.top {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;


}



.work {
    font-family: Roboto;
    font-style: normal;
position: absolute;
width: 376px;
height: 42px;
left: 612px;
top: 894px;

font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}

.command {
    display: flexbox;
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1497px;
    bottom: 764px;

font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.name{
    
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.name-log {
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.Web-link {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.bottom {
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

}

.bottom2 {
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
}

.production{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}
.production1{
    position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;
}


.production2{
    position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;
}

.production3{
    position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
}

.name-about{
    content: normal;
    position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
}
.button-1{
    position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}

.about-1{
    position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;
}

.about-2{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
}
.about-3{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;
    
}
.about-4{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
    
}
.information{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 800px;    
}
.information1{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 515px;
    top: 800px;
}
.information2{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 815px;
    top: 800px;
}
.information3{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 800px;
}
.image{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}
.image1{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.image2{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
    
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.-image{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1635px;
    
    background: url(4853.jpg);
    border-radius: 0px
}
.-image1{
    position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1635px;

background: url(5844.jpg);
border-radius: 0px;
}
.-image2{
    position: absolute;
width: 270px;
height: 260px;
left: 815px;
top: 1635px;

background: url(16166.jpg);
border-radius: 0px;
}
.-image3{
    position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1635px;

background: url(2968.jpg);
border-radius: 0px;
}


*,
*::before
*::after{
    margin: 0;
    padding: 0;
}

img {
    display: flex;
    display: block;
}

.name-image{
    display: flex;
    position: absolute;
width: 151px;
height: 19px;
left: 275px;
top: 1925px;

}

.name-image1{
    display: flex;
    position: absolute;
    width: 109px;
    height: 19px;
    left: 596px;
    top: 1925px;
    
}
.name-image2{
    display: flex;
    position: absolute;
    width: 137px;
    height: 19px;
    left: 882px;
    top: 1925px;
    
}
.name-image3{
    display: flex;
    position: absolute;
    width: 134px;
    height: 19px;
    left: 1183px;
    top: 1925px;
}
.work-image{
    display: flex;
    position: absolute;
    width: 130px;
    height: 19px;
    left: 285px;
    top: 1975px;
}
.work-image1{
    display: flex;
    position: absolute;
    width: 147px;
    height: 19px;
    left: 577px;
    top: 1975px;
}
.work-image2{
    display: flex;
    position: absolute;
    width: 76px;
    height: 19px;
    left: 912px;
    top: 1975px;
}
.work-image3{
    display: flex;
    position: absolute;
    width: 87px;
    height: 19px;
    left: 1207px;
    top: 1975px;
    
}
.bottom-1{
    display: flex;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2157px;
}
.bottom-2{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2208px;
    
}
.bottom-3{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2238px;
}
.bottom-4{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2268px;
}
.conteiner{
    display: flex;
}